
/* .form-box{
    min-width: 50%;
    height: 100vh;
    background-color: skyblue;
    margin: 0vw;
    padding: 5vw ;
    position:relative; 
}
.form-box h5{
    font-size: 35px ;
    text-align: center;
    color: #F55A00;
    margin: 0 0 .5vh 0;
}
.form-box label{
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0 0 2vh 0;
}
.form-box input, textarea{
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:4px;
    border-radius: 5px;
    font-size: 20px;
}

.form-box textarea{
    height: 10vh;
} */
.App {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  input {
    display: flex;
    width: 20rem;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  button {
    border: none;
    padding: 1rem;
    width: 21.2rem;
    font-size: 1.2em;
    border-radius: 0.2rem;
    cursor: pointer;
  }
  button:hover {
    background-color: #c5c5c5;
  }
  .message {
    font-size: 1.2em;
    text-align: center;
    color: #36a936;
  }